##### Chapter 1

In [1]:
print("Hello World")

Hello World

In [2]:
print("Hello Friends")
print("Numbers 12345.......")

Hello Friends
Numbers 12345.......

# chapter 2

In [3]:
pip install pandas

Requirement already satisfied: pandas in c:\users\satis\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\satis\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\satis\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\satis\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\satis\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\satis\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas

In [5]:
print("Hi")

Hi

In [6]:
print("hello world")
print(5)
print("Bye")
print(10, "hello python")
print(50+50)
print(50*50)
print(50-50)
print(50/50)

hello world
5
Bye
10 hello python
100
2500
0
1.0

In [7]:
print("Hey I am a good boy\nand this viewer is also a good boy/girl")

Hey I am a good boy
and this viewer is also a good boy/girl

# chapter 3 [Escape sequence characters]

In [8]:
print("It is tab\t character")

It is tab	 character

In [9]:
print("This is literal backslash in \\ python.")

This is literal backslash in \ python.

In [10]:
print("I\'m very laborious.")

I'm very laborious.

In [11]:
print("The lion is king of forest \"Amazing\". ")

The lion is king of forest "Amazing".

In [12]:
# this is a single line comment 
print("This is a \"single line comment\". ")

This is a "single line comment".

In [13]:
'''
Hey bro, please don't remove this line 
New bro
course : python
'''
print("This is triple single quote.")

This is triple single quote.

In [14]:
"""
Hey bikku, please don't remove this paragraph
bro
course : python
"""
print("This is triple double quote.")

This is triple double quote.

# chapter 4 [variable and data types]

In [15]:
a=5
print(a)

5

In [16]:
c=50
print(c)

50

In [17]:
a=12345
print(a)
b=1123
print(b)
c=9874
print(c)

12345
1123
9874

In [18]:
a=123
print(a)
b=123
print(b)
print(a+b)
print(a-b)
print(a*b)
print(a/b)

123
123
246
0
15129
1.0

In [19]:
a=1
print(type(a))
b=1.1
print(type(b))
c="hello"
print(c)
d='Python'
print(type(d))
e=True
print(type(e))
f=[1,2, "apple"]
print(type(f))
g=(1,2, "banana")
print(type(g))
h={"name":"Bob","age":25}
print(type(h))
i={1,2,3}
print(type(i))

<class 'int'>
<class 'float'>
hello
<class 'str'>
<class 'bool'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>

In [20]:
a=1
b=1.1
c="hello"
d='Python'
e=True
f=(1,2, "apple")
g=(1,2, "banana")
h={"name":"Bob","age":25}
i={1,2,3}
k= complex(8, 2)
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))
print(type(g))
print(type(h))
print(type(i))
print(type(k))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'bool'>
<class 'tuple'>
<class 'tuple'>
<class 'dict'>
<class 'set'>
<class 'complex'>

#Chapter 5 arithmetic operators

In [21]:
print(5+5)
print(15-6)
print(50*5)
print(46/5)
print(15//6)
print(15%7)
print(2**5)

10
9
250
9.2
2
1
32

#Calculator programming

In [22]:
a=50
b=5
print("The value of", a, "+", 5, "is: ", a+b)
print("The value of", a, "-", 5, "is: ", a-b)
print("The value of", a, "*", 5, "is: ", a*b)
print("The value of", a, "/", 5, "is: ", a/b)

The value of 50 + 5 is:  55
The value of 50 - 5 is:  45
The value of 50 * 5 is:  250
The value of 50 / 5 is:  10.0

In [23]:
a=10
b=10
print(a,b)
print('a' ,b)
print(id(a),id(b))

10 10
a 10
140712161651416 140712161651416

In [24]:
a=10
b=15
print(a,b)
print('a' ,b)
print(id(a),id(b))
c="hello"
print(c)
a1=20
print(a1)
a_b=35
print(a_b)
_a=20
print(_a)

10 15
a 15
140712161651416 140712161651576
hello
20
35
20

#string concatenation

In [25]:
a="hello"
b="friends"
print(a+b)
print(a+" "+b)
c=20
print(c+30)

hellofriends
hello friends
50

#Assigment operators

In [26]:
x=5
print(x)
x=x+5
print(x)

x+=5
print(x)

x=x-5
print(x)
x-=5
print(x)

5
10
15
10
5

#comparison operators

In [27]:
a=10
b=10
print(a==b)
print(a!=b)
x=10
y=20
print(x!=y)
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)
print(x>=y)
print(x<=y)

True
False
True
False
False
True
True
False
True

#Logical operators

In [28]:
a=10
b=20
print(a==10 and a<b and b>a) #return true if both statements are true

True

In [29]:
x=10
y=20
print(x==10 or x<y or x==y) #return true if one of the statements is true

True

In [30]:
a=10
b=20
print(a==b or a>b or a!=b or b>a)

True

In [31]:
a=10 
b=20
print(not a!=10)

True

#Membership Operators

In [32]:
string1="Hello"
print('H' in string1)


l=[10,20,30,40]
print(50 not in l)

True
True

#Identity operators

In [33]:
a=10
b=10
print(a is b, a==b)#"is"operator is perform
print(a is not b, a!=b)

True True
False False

#Bitiwise operators

In [34]:
a=10
b=8
print(bin(a))
print(bin(b))
print(bin(a&b),a&b)
print(bin(a|b),a|b)
print(bin(a^b),a^b)

0b1010
0b1000
0b1000 8
0b1010 10
0b10 2

In [35]:
a=10
b=8
print((a))
print((b))
print(a&b)
print(a|b)
print(a^b)

10
8
8
10
2

#Data Tyoeslists

a=5
print(a, type(a))#int
a=5.5
print(a, type(a))#float
a=2+5j
print(a, type(a))#complex


s="hello@12345"
print(s, type(s))#string
s='''
  Hello
  welcome to programming
'''
print(s)
s='10'
print(s, type(s))

l=[10,'ws',5.5]#list
l[1]=10
print(l,type(l))


t=(10,20,'hello')#tuple
print(t,type(t))

d={
    'course_name': 'python',
    'course_duration' : '2 months'
}#dictionar data type
print(d['course_name'])
print(d, type(d))


my_set={1,2,3}
print(my_set,type(my_set))#set data type
s={10,20,30,10}
print(s,type(s))

#Getting user input and type casting

In [37]:
x=int(input("Enter the first number: "))
y=int(input("Enter the second number: "))
print(x+y)

Enter the first number:  5
Enter the second number:  5

10

# if statement

In [9]:
a=10
if a%2==0:
 print("Even number")

Even number

In [13]:
a=int(input("Enter the number :- "))
if a%2==0:
 print("It is even number : ")

Enter the number :-  10

It is even number :

# if else statement

In [15]:
a=10
b=5
if a==10:
    print("It is even number")
else:
    print("It is odd number")

It is even number

In [21]:
a=int(input("Enter the value: "))
if a%2==0:
    print(a, "It is even number")
else:
    print(a, "It is odd number")

Enter the value:  65

65 It is odd number

#if elif esle statement

In [35]:
per=int(input("Enter the percentage: "))
if per>=60: 
    print("You are first division.")
elif per>=40: 
    print("You are second division. ")
elif per>=30: 
    print("You are third division. ")
else:
    print("You are fail ")

Enter the percentage:  65

You are first division.

# Simple calculator program

In [37]:
print('''
+ ADD
- SUBTRACT
* MULTIPLY
/ DIVIDE
''')
num1=int(input("Enter the value1: "))
num2=int(input("Enter the value2: "))
opr=input("Enter the opr...(+,-,*,/)")
if opr=="+":
    print(num1+num2)
elif opr=="-":
    print(num1-num2)
elif opr=="*":
    print(num1*num2)
elif opr=="/":
    print(num1/num2)
else:
    pritn("Invalid opr....:")

+ ADD
- SUBTRACT
* MULTIPLY
/ DIVIDE

Enter the value1:  45
Enter the value2:  12
Enter the opr...(+,-,*,/) *

540